doctype html
html
	head
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		h1 Privacy Policy
		h5 Last Updated: November 17, 2014

		p  
			|CloudContacts helps people everywhere stay in touch.  When you connect with 
			|another registered user, you choose which phone numbers, email addresses, 
			|social media handles, and physical addresses to share with that connection.

			|This privacy policy describes how we (CloudContacts, LLC) collect, use, and 
			|share your information whenever you use our mobile app.  We may change this 
			|privacy policy from time to time.  However, when we do, we’ll let you know 
			|in one way or another.  Sometimes, we’ll let you know by revising the date 
			|at the top of the privacy policy that’s available on our website.  Other 
			|times, we may provide you with additional notice (such as posting the change 
			|to our homepage or sending you a notification). Of course, if you ever have 
			|a question about our privacy policy, you may email us at support@cloudcontacts.com.
		
		h2 Information We Collect
		h4 What You Directly Provide Us
		p 
			|For you to create a CloudContacts account, we need to collect a few important 
			|details about you: a password, an email address we can contact you at, a phone 
			|number, your age or date of birth, and other details to help you with your 
			|experience. We want you, though, to be in control of your information, so we 
			|let you update or correct most of the CloudContacts account information by 
			|editing your account settings within CloudContacts.  And while we hope 
			|you’ll remain a lifelong CloudContacts user, if for some reason you ever 
			|want to delete your account, you may do so within the app; but keep in mind 
			|that we may retain certain information in backup for a limited period of 
			|time or as required by law.

		h4 What You Automatically Provide Us When You Use Our Services
		p 
			|Because CloudContacts is about sharing contact information with people, there 
			|is some information we collect automatically when you access our Services, 
			|which we use to facilitate the broad range of communications offered through 
			|our Services, to provide you cool features and functionality, and to enable 
			|all the other purposes described in this privacy policy. We explain all this 
			|below: 
		ul
			li 
				|Usage Information: We collect information about your activity and the 
				|messages you send and receive through our Services. For example, we collect 
				|information such as the time, date, sender, recipient of a message, the 
				|number of messages you exchange with your friends, and which friends you 
				|exchange messages with the most.

			li |Device Information: We collect information about your device, including 
				|the hardware model, operating system and version, unique device identifiers 
				|(including MAC address and IMEI), browser type and language, mobile device 
				|phone number, and mobile network information. We also collect certain device 
				|information that will help us diagnose problems in the (hopefully rare) event 
				|you experience any crash or other problem while using our Services. So, for 
				|example, if we detect a crash or other problematic event, we may collect the 
				|list of apps on your device and other information about your device’s 
				|performance at the time of the event for troubleshooting purposes. 

			li |Device Phonebook and Photos: Because CloudContacts is all about 
				|communicating with friends, we may—with your consent—collect information from 
				|your device’s phonebook and photos. We do this so that we can connect you to 
				|your friends quickly and intuitively, enhance the Services with additional 
				|functionality, and for any other purpose described in this privacy policy.
				|You can always revoke your consent to our ongoing ability to collect 
				|information from your device’s phonebook and photos by changing the settings 
				|on your device if your device offers that option, 
				|or by simply deleting our app from your device (though we hope you’ll never 
				|do that). 

			li 
				|Location Information: With your consent, we collect your device location 
				|so that you can use our location-based features, such as message filters and 
				|Our Stories, and for any other purpose described in this privacy policy. As 
				|with your phonebook and photos, you can always revoke your consent by 
				|changing the settings or preferences on your device. If you do so, certain 
				|features of the Services will no longer function. And, of course, you can 
				|revoke your consent by deleting CloudContacts from your device. 

			li 
				|Information Collected by Cookies and Other Tracking Technologies: Like 
				|most online services, we use cookies, web beacons, and other technologies. 
				|Cookies are small data files stored on your hard drive or in device memory that 
				|store information about your use of the Services, which can, among other things, 
				|help us see which areas and features of the Services are popular and let us 
				|count visits. Web beacons are small pieces of software on a webpage or email 
				|that help us see how you interact with that webpage or email. Most web browsers 
				|are set to accept cookies by default. If you prefer, you can usually choose to 
				|set your browser to remove or reject browser cookies. Keep in mind, though, that 
				|removing or rejecting cookies could affect the availability and functionality of 
				|our Services. To learn more about how third parties use such technologies on our 
				|Services, be sure to read the “Analytics and Advertising Services Provided by 
				|Others” section of our privacy policy.

			li 
				|Website Log Information: We collect log file information when you use 
				|our websites. That information includes, among other things, your web browser 
				|type and language, access times, pages viewed, your IP address, and the website 
				|you visited before navigating to our websites.

		h2 Information We Collect From Other Sources
		p 
			|If another user allows us to collect information from his or her device 
			|phonebook—and you’re one of that user’s contacts—we may combine the information 
			|we collect from that user’s phonebook with other information we have collected 
			|about you. We may also obtain information from other sources and combine that 
			|with the information we collect through CloudContacts. 

		h2 Information We Collect When You Contact Us
		p
			|Whenever you have a question for our helpful Support team, just email 
			|support@CloudContacts.com Of course, when you contact the Support team or 
			|communicate with us in any other way, we’ll collect whatever information you 
			|volunteer. For instance, if you submit artwork, files, or any other materials 
			|to us through our websites, we will collect what you give us. 

		h2 How We Use Information
		ul 
			li 
				|Provide and deliver the products, services, and functionality that you 
				|request, process transactions, and send you related information;
			li 
				|Communicate with you. That means just what it says; we may send you 
				|marketing communications on behalf of us or other companies; respond to your 
				|comments and questions; provide customer service; and send you technical 
				|notices, security alerts, and other informational messages; 
			li Monitor and analyze trends and usage;
			li Develop, improve, and refine products, services, and functionality;
			li 
				|Personalize the Services by providing advertisements, content, or 
				|features that match user profiles or interests. For instance, when you set 
				|up an account we may pre-populate certain account information based on the 
				|information we collect about you from other users;
			li 
				|Verify your identify and prevent fraud or other unauthorized or illegal 
				|activity; and
			li Carry out any other purpose for which the information was collected.

		h2 Where Infromation Is Processed
		p
			|CloudContacts is based in the United States. Although we welcome CloudContacts 
			|users from all over the world, keep in mind that no matter where you live or 
			|you happen to use our Services, you consent to the processing and transfer of 
			|information in and to the U.S. and other countries. We want you to know this 
			|because the laws of the United States and those of other countries where your 
			|information is processed might not be as comprehensive or protective as laws in 
			|the country where you live. And while you’re in another country, know that your 
			|information may be made available to government or law enforcement requests.

		p
			|Here’s the type of information we may share about you with others and how we do so: 
			ul
				li 
					|When you send a friend request, your recipients will see your full 
					|name and, of course, whatever your basic contact information says or 
					|shows (whether that’s a hometown, current city, or school). 
				li 
					|When you let us access your device phonebook, we may share information 
					|about you with other users who have your phone number in their device 
					|phonebook. For instance, when you use Find Friends, we may share your 
					|username and name with other users who use Find Friends and have your 
					|phone number in their device phonebook. In these cases, we will not 
					|display your phone number to these users, but we will share the fact 
					|that your username and name are associated with your phone number.
				li 
					|When other users view your profile, they will be able to view public 
					|profile information, and any contact information you have chosen to 
					|share with that individual.
				li 
					|We may share information about you with service providers who perform 
					|services on our behalf.
				li
					|With respect to jointly offered Services or functionality or services 
					|offered separately by other companies through our Services, we may share 
					|information about you with business partners to provide the Services and 
					|functionality you request and to communicate with you about those Services;
				li
					|We may share information about you in response to legal process or a 
					|request for information if we believe disclosure is consistent with, or 
					|required by, any applicable law, rule, or regulation; to investigate or 
					|remedy potential violations of our user agreements or policies, or to 
					|protect the rights, property, and safety of us, our users, or others; or 
					|in connection with, or during negotiations of, any merger, sale of company 
					|assets, financing, or acquisition of all or a portion of our business to 
					|another company.
				li
					|We may share information about you with your consent or at your 
					|direction, or as otherwise provided in this privacy policy.
			|We may also share aggregated or de-identified information, which cannot 
			|reasonably be used to identify you. Here’s just one example of how this 
			|could work: Because it’s not always clear whether a new friend request comes 
			|from someone you actually know, we may share whether you and the requestor have 
			|CloudContacts friends in common without disclosing the usernames of those common 
			|friends. 

			|The Services may also contain third-party links or be a co-branded or 
			|third-party-branded Service that’s being provided jointly with or by another 
			|company. By going to those links or by using a co-branded or third-party-branded 
			|Service, you may be providing personal information directly to the third party, 
			|us, or both. You acknowledge and agree that we are not responsible for how those 
			|third parties collect or use your information. As always, we encourage you to 
			|review the privacy policies of every third-party website or service that you 
			|visit or use, including those third parties you interact with through our 
			|Services. 

		h2 Analytics and Advertising Services Provided By Other
		p
			|We may let other companies use cookies, web beacons, and other technologies 
			|on CloudContacts. These companies may collect information about how you use 
			|the Services and other websites and online services over time and across 
			|different services. The information collected may include unique device 
			|identifiers, device manufacturer and operating system, IP address, browser 
			|type, pages viewed, session start/stop time, links clicked, and conversion 
			|information. This information may be used to, among other things, analyze 
			|and track data, determine the popularity of certain content, and better 
			|understand your online activity. Among the third parties we use for analytics 
			|is CloudContacts, which provides mobile analytics in connection with our app.
			|Additionally, some companies may use the information they collect on our 
			|blog and other websites to deliver targeted advertisements on behalf of us 
			|or other companies, including on third-party websites and apps. 
			|CloudContacts does not currently respond to do-not-track signals that may 
			|be sent from your device.

		h2 Children
		p
			|We don’t direct our Services to anyone under 13. And that’s why we do not 
			|knowingly collect personal information from anyone under 13.
